body {
background-color: #D0D0CE;
}
.pageHeader {
    text-align: center;
    color: #201547;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.shop {
    flex-basis: 16%;

        padding: 1em;
        margin: 0.5em;
        text-align: center; /* Center align the text in the boxes */
background-color: #BBBCBC;
border: solid 2px #201547;
border-style: groove;
outline: 1px solid #EDE939;
}




