@import "shop.css";



body {
background-color: #D0D0CE;
}
.pageHeader {
    text-align: center;
    color: #201547;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: xx-large;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


